<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="ChangeListManager">
    <list default="true" id="b36135f7-a249-46ac-ac43-49b0f6598f9c" name="Default Changelist" comment=""